{% extends 'base.html' %}
{% import 'macros.html' as macro %}

<!-- Styles block -->
{% block styles%}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
    <link href="https://fonts.googleapis.com/css?family=Lora" rel="stylesheet">
{% endblock %}

<!-- Content block -->
{% block content %}

    <title> {{ title }} </title>

    <div class="container">

        <div class="card" id="quote">
            <div class="card-header">
                <h3>Random quote</h3>
            </div>
            <div class="card-body">
                {{quote.quote}}
            </div>
            <div class="card-footer">
                {{quote.author}}
            </div>
        </div>

        <h3 class="index-header">All Posts</h3>
        <h3 class="post-link"><a href="{{url_for('main.new_post')}}">New Post</a></h3>

        <hr>

        <ul class="list-unstyled">
            {{ macro.displayPostList(posts)}}
        </ul>



    </div>

{% endblock %}